@import '../../../../_variables.css';
@import '../../../../_mixins.css';
@import './_header-mixins.css';

$menu_padding: 30px;
$options_vertical_padding: 26px;

.episodeSelectorWrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px;
  height: 50px;
}

.episodeSelectorBox {
  height: 40px;
  width: 122px;
  border: 1.5px solid $lightbox_yellow;
  border-radius: 4px;

  .episodeSelectorText {
    @mixin clickable;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    &:hover{
      color: $lightbox_yellow;
    }
  }
}

.episodeSelectorMenuWrapper {
  @mixin selectorMenuWrapper;
  width: 690px;
  @mixin selectorOptionHeader;
}

.episodeSelectorOptions {
  max-height: 500px;
  overflow-y: scroll;
  @mixin scrollbar;
}

.episodeSelectorOption {
  @mixin selectorOption;
  flex-direction: column;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    color: $lightbox_yellow;
  }

  .episodeSelectorOptionName {
    @mixin selectorOptionName;
  }

  .episodeSelectorOptionDetail {
    margin-top: 20px;
    display: flex;
    flex-direction: row;

    .episodeSelectorOptionImage{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      > img {
        width: 240px;
      }

      .episodeSelectorOptionProgress {
        width: 70px;
        height: 70px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
    }

    .upcomingEpisode {
      background-color: $gray_light_darker;
      min-width: 240px;
      position: relative;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .episodeSelectorOptionDesc {
      font-size: 16px;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
    }

    .episodeSelectorOptionMetadata {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 10px;
      font-weight: bold;
      align-content: center;

      .episodeSelectorOptionRating {
        border: 1px solid $white;
        padding: 3px;
        margin-right: 10px;
      }

      .episodeSelectorOptionDuration {
        display: flex;
        align-items: center;
      }
    }
  }

  .episodeSelectorOptionCollapse {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 20px;
  }
}


:global {

  .rc-collapse-anim-active {
    transition: height 0.2s ease-out;
  }
  .rc-collapse-content {
    overflow: hidden;
  }
  .rc-collapse-content-inactive {
    display: none;
  }
  .rc-collapse-item-active{
    background-color: $gray;
    color: $white;
    position: relative;

    &:hover {
      color: $white;
    }
  }

}
